# 14. 質問紙尺度のデータの処理

In [16]:
import numpy as np
import pandas as pd
import pyper

In [6]:
r = pyper.R()
r('library(psy)')
r('data(expsy)')
print(r('expsy'))

try({expsy})
   it1 it2 it3 it4 it5 it6 it7 it8 it9 it10 r1 rb1 r2 rb2 r3 rb3
1   NA   2   2   1   1   0   3   1   2    3 NA  NA  3   1  3   1
2    3   1   1   2   1   0   3   1   2    3  3   1  3   1  3   1
3    3   1   1   0   2   0   3   1   2    3  3   1  2   0  2   0
4    4   1   0   2   1   1   4   1   1    2  4   1  4   1  4   1
5    4   1   0   2   1   1   3   1   1    2  3   1  3   1  3   1
6    3   2   0   1   2   2   3   1   2    3  3   1  2   0  4   1
7    3   2   3   1   2   2   2   1   3    3  2   0  2   0  2   0
8    3   2   2   0   2   1   3   0   1    3  3   1  2   0  3   1
9    3   2   2  NA   2   0   3   0   1    2  3   1  3   1  3   1
10   3   2   1   0   2   2   3   2   2    3  3   1  3   1  2   0
11   4   2   2   0   2   2   3   1   1    4  3   1  4   1  4   1
12   4   2   1   2   2   2   3   1   2    1  3   1  3   1  3   1
13   4   1   3   2   2   2   3   1   2    3  3   1  3   1  3   1
14   3   2   2   1   1   2   3   0   3    4  3   1  2   0  2   0
15   4   0   3   1   2   0   3   3   1    4  3   1  3   1  3   1
16   4   0   1   2   2   2   4   2   3    3  4   1  4   1  4   1
17   4   0   1   2   2   2   4   2   3    3  4   1  4   1  4   1
18   4   1   1   2   2   1   3   1   0    4  3   1  3   1  3   1
19   4   1   1   2   0   0   4   2   1    3  4   1  3   1  3   1
20   3   1   1   2   1   1   2   1   1    3  2   0  2   0  2   0
21   4   2   3   2   1   1   4   2   2    3  4   1  4   1  4   1
22   3   2   1   2   1   1   3   2   1    3  3   1  4   1  3   1
23   3   1   1   2   1   1   3   2   1    3  3   1  3   1  2   0
24   3   2   1   2   2   2   4   1   1    3  4   1  4   1  4   1
25   3   1   2   2   2   2   4   0   3    3  4   1  4   1  3   1
26   3   2   3   2   2   2   2   2   3    3  2   0  2   0  2   0
27   3   2   2   2   2   2   1   1   2    3  1   0  1   0  2   0
28   3   2   1   1   1   1   2   2   2    2  2   0  1   0  1   0
29   3   1   0   2   2   2   2   2   1    3  2   0  2   0  2   0
30   3   2   1   2   2   2   4   2   2   NA  4   1  3   1  4   1

In [8]:
r('expsy2 <- expsy[,1:10]')
print(r('expsy'))

try({expsy})
   it1 it2 it3 it4 it5 it6 it7 it8 it9 it10 r1 rb1 r2 rb2 r3 rb3
1   NA   2   2   1   1   0   3   1   2    3 NA  NA  3   1  3   1
2    3   1   1   2   1   0   3   1   2    3  3   1  3   1  3   1
3    3   1   1   0   2   0   3   1   2    3  3   1  2   0  2   0
4    4   1   0   2   1   1   4   1   1    2  4   1  4   1  4   1
5    4   1   0   2   1   1   3   1   1    2  3   1  3   1  3   1
6    3   2   0   1   2   2   3   1   2    3  3   1  2   0  4   1
7    3   2   3   1   2   2   2   1   3    3  2   0  2   0  2   0
8    3   2   2   0   2   1   3   0   1    3  3   1  2   0  3   1
9    3   2   2  NA   2   0   3   0   1    2  3   1  3   1  3   1
10   3   2   1   0   2   2   3   2   2    3  3   1  3   1  2   0
11   4   2   2   0   2   2   3   1   1    4  3   1  4   1  4   1
12   4   2   1   2   2   2   3   1   2    1  3   1  3   1  3   1
13   4   1   3   2   2   2   3   1   2    3  3   1  3   1  3   1
14   3   2   2   1   1   2   3   0   3    4  3   1  2   0  2   0
15   4   0   3   1   2   0   3   3   1    4  3   1  3   1  3   1
16   4   0   1   2   2   2   4   2   3    3  4   1  4   1  4   1
17   4   0   1   2   2   2   4   2   3    3  4   1  4   1  4   1
18   4   1   1   2   2   1   3   1   0    4  3   1  3   1  3   1
19   4   1   1   2   0   0   4   2   1    3  4   1  3   1  3   1
20   3   1   1   2   1   1   2   1   1    3  2   0  2   0  2   0
21   4   2   3   2   1   1   4   2   2    3  4   1  4   1  4   1
22   3   2   1   2   1   1   3   2   1    3  3   1  4   1  3   1
23   3   1   1   2   1   1   3   2   1    3  3   1  3   1  2   0
24   3   2   1   2   2   2   4   1   1    3  4   1  4   1  4   1
25   3   1   2   2   2   2   4   0   3    3  4   1  4   1  3   1
26   3   2   3   2   2   2   2   2   3    3  2   0  2   0  2   0
27   3   2   2   2   2   2   1   1   2    3  1   0  1   0  2   0
28   3   2   1   1   1   1   2   2   2    2  2   0  1   0  1   0
29   3   1   0   2   2   2   2   2   1    3  2   0  2   0  2   0
30   3   2   1   2   2   2   4   2   2   NA  4   1  3   1  4   1

In [9]:
r('expsy2$it2r <- 4-expsy2$it2')
print(r('expsy2'))

try({expsy2})
   it1 it2 it3 it4 it5 it6 it7 it8 it9 it10 it2r
1   NA   2   2   1   1   0   3   1   2    3    2
2    3   1   1   2   1   0   3   1   2    3    3
3    3   1   1   0   2   0   3   1   2    3    3
4    4   1   0   2   1   1   4   1   1    2    3
5    4   1   0   2   1   1   3   1   1    2    3
6    3   2   0   1   2   2   3   1   2    3    2
7    3   2   3   1   2   2   2   1   3    3    2
8    3   2   2   0   2   1   3   0   1    3    2
9    3   2   2  NA   2   0   3   0   1    2    2
10   3   2   1   0   2   2   3   2   2    3    2
11   4   2   2   0   2   2   3   1   1    4    2
12   4   2   1   2   2   2   3   1   2    1    2
13   4   1   3   2   2   2   3   1   2    3    3
14   3   2   2   1   1   2   3   0   3    4    2
15   4   0   3   1   2   0   3   3   1    4    4
16   4   0   1   2   2   2   4   2   3    3    4
17   4   0   1   2   2   2   4   2   3    3    4
18   4   1   1   2   2   1   3   1   0    4    3
19   4   1   1   2   0   0   4   2   1    3    3
20   3   1   1   2   1   1   2   1   1    3    3
21   4   2   3   2   1   1   4   2   2    3    2
22   3   2   1   2   1   1   3   2   1    3    2
23   3   1   1   2   1   1   3   2   1    3    3
24   3   2   1   2   2   2   4   1   1    3    2
25   3   1   2   2   2   2   4   0   3    3    3
26   3   2   3   2   2   2   2   2   3    3    2
27   3   2   2   2   2   2   1   1   2    3    2
28   3   2   1   1   1   1   2   2   2    2    2
29   3   1   0   2   2   2   2   2   1    3    3
30   3   2   1   2   2   2   4   2   2   NA    2

In [10]:
r('expsy3 <- expsy2[,c(1,11,3:10)]')
print(r('expsy3'))

try({expsy3})
   it1 it2r it3 it4 it5 it6 it7 it8 it9 it10
1   NA    2   2   1   1   0   3   1   2    3
2    3    3   1   2   1   0   3   1   2    3
3    3    3   1   0   2   0   3   1   2    3
4    4    3   0   2   1   1   4   1   1    2
5    4    3   0   2   1   1   3   1   1    2
6    3    2   0   1   2   2   3   1   2    3
7    3    2   3   1   2   2   2   1   3    3
8    3    2   2   0   2   1   3   0   1    3
9    3    2   2  NA   2   0   3   0   1    2
10   3    2   1   0   2   2   3   2   2    3
11   4    2   2   0   2   2   3   1   1    4
12   4    2   1   2   2   2   3   1   2    1
13   4    3   3   2   2   2   3   1   2    3
14   3    2   2   1   1   2   3   0   3    4
15   4    4   3   1   2   0   3   3   1    4
16   4    4   1   2   2   2   4   2   3    3
17   4    4   1   2   2   2   4   2   3    3
18   4    3   1   2   2   1   3   1   0    4
19   4    3   1   2   0   0   4   2   1    3
20   3    3   1   2   1   1   2   1   1    3
21   4    2   3   2   1   1   4   2   2    3
22   3    2   1   2   1   1   3   2   1    3
23   3    3   1   2   1   1   3   2   1    3
24   3    2   1   2   2   2   4   1   1    3
25   3    3   2   2   2   2   4   0   3    3
26   3    2   3   2   2   2   2   2   3    3
27   3    2   2   2   2   2   1   1   2    3
28   3    2   1   1   1   1   2   2   2    2
29   3    3   0   2   2   2   2   2   1    3
30   3    2   1   2   2   2   4   2   2   NA

In [11]:
r('score <- rowSums(expsy3)')
print(r('score'))

try({score})
 [1] NA 19 18 19 18 19 22 17 NA 20 21 20 25 21 25 27 27 21 20 18 24 19 20 21 24
[26] 24 20 17 20 NA

In [12]:
r('expsy4 <- cbind(expsy3, score)')
print(r('expsy4'))

try({expsy4})
   it1 it2r it3 it4 it5 it6 it7 it8 it9 it10 score
1   NA    2   2   1   1   0   3   1   2    3    NA
2    3    3   1   2   1   0   3   1   2    3    19
3    3    3   1   0   2   0   3   1   2    3    18
4    4    3   0   2   1   1   4   1   1    2    19
5    4    3   0   2   1   1   3   1   1    2    18
6    3    2   0   1   2   2   3   1   2    3    19
7    3    2   3   1   2   2   2   1   3    3    22
8    3    2   2   0   2   1   3   0   1    3    17
9    3    2   2  NA   2   0   3   0   1    2    NA
10   3    2   1   0   2   2   3   2   2    3    20
11   4    2   2   0   2   2   3   1   1    4    21
12   4    2   1   2   2   2   3   1   2    1    20
13   4    3   3   2   2   2   3   1   2    3    25
14   3    2   2   1   1   2   3   0   3    4    21
15   4    4   3   1   2   0   3   3   1    4    25
16   4    4   1   2   2   2   4   2   3    3    27
17   4    4   1   2   2   2   4   2   3    3    27
18   4    3   1   2   2   1   3   1   0    4    21
19   4    3   1   2   0   0   4   2   1    3    20
20   3    3   1   2   1   1   2   1   1    3    18
21   4    2   3   2   1   1   4   2   2    3    24
22   3    2   1   2   1   1   3   2   1    3    19
23   3    3   1   2   1   1   3   2   1    3    20
24   3    2   1   2   2   2   4   1   1    3    21
25   3    3   2   2   2   2   4   0   3    3    24
26   3    2   3   2   2   2   2   2   3    3    24
27   3    2   2   2   2   2   1   1   2    3    20
28   3    2   1   1   1   1   2   2   2    2    17
29   3    3   0   2   2   2   2   2   1    3    20
30   3    2   1   2   2   2   4   2   2   NA    NA

In [13]:
print(r('cronbach(expsy4[,1:10])'))

try({cronbach(expsy4[,1:10])})
$sample.size
[1] 27

$number.of.items
[1] 10

$alpha
[1] 0.3752657

In [15]:
print(r('cronbach(expsy3[,1:10])'))

try({cronbach(expsy3[,1:10])})
$sample.size
[1] 27

$number.of.items
[1] 10

$alpha
[1] 0.3752657